.panel-header a:focus {
  outline: none;
}

.panel-body {
  max-height: 225px;
  overflow-y: scroll;
}

.todo-container {
  margin: 2.5px;
  padding: 10px;
  border-radius: 2.5px;
}

textarea {
  overflow-y: scroll;
  resize: none;
}