.panel-header a:focus {
  outline: none;
}

.panel-body {
  max-height: 500px;
  overflow-y: scroll;
}

.todo-container {
  margin: 2.5px;
  padding: 10px;
  border-radius: 2.5px;
}

.priority-container {
  border: 1px solid #cfcfcf;
  border-radius: 4px;
}

.high {
  background-color: #f2dede;
  border: 1px solid #a94442;
}

.medium {
  background-color: #fcf8e3;
  border: 1px solid #8a6d3b;
}

.low {
  background-color: #d9edf7;
  border: 1px solid #337ab7;
}

textarea {
  overflow-y: scroll;
  resize: none;
}